// fuentes
$fuente_principal: 'Raleway', sans-serif;
$fuente_secundaria: 'Roboto', sans-serif;
$fuente_cursiva: 'Bona Nova', serif;

// media queries
$telefono: 480px;
$tablet: 768px;
$laptop: 1024px;
$laptop_l: 1440px;
$laptop_xl: 1920px;

// colores
$color_primario: #5e311e;
$color_secundario: #c39c63;
$color_negro: #000000;
$color_blanco: #ffffff;
$color_grisClaro: #eceeef;
$color_cafe: #ebe7de;

// unidades
$separacion: 5rem;

